@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #662549;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	text-align: center;
}

h1 {
	color: #E8BCB9;
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
}

.TodoWrapper {
	background: #451952;
	margin-top: 5rem;
	padding: 2rem;
	border-radius: 5px;
}

.TodoForm {
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.EditTodoForm {
	width: 100%;
	background: none;
	color: #fff;
	margin-bottom: 1rem;
	height: 49px;
	border-radius: none;
}

.todo-input {
	outline: none;
	background: none;
	border: 1px solid #AE445A;
	padding: 0.75rem 1rem;
	width: 200px;
	color: #fff;
	border-radius: none;
}

.todo-input::placeholder {
	color: #ffffff4d;
}

.todo-btn {
	background: #AE445A;
	color: #fff;
	border: none;
	padding: 0.81rem 0.55rem;
	cursor: pointer;
	width: 80px;
}

.Todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #F39F5A;
	color: #fff;
	padding: 0.75rem 1rem;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.fa-trash {
	margin-left: 0.75rem;
}

.incompleted {
	color: #fff;
	cursor: pointer;
}

.completed {
	color: #E8BCB9;
	text-decoration: line-through;
	cursor: pointer;
}

.edit-icon,
.delete-icon {
	cursor: pointer;
}

@media (min-width: 576px) {
	.todo-input {
		width: 300px;
	}
}